body{
  background-color: #8c356c;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container img{
    width: 100%;
    height: 100%;
}